*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button{
    padding: 10px 40px;
    color: #fff;
    background-color: darkblue;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}
button:active{
    transform: scale(1.1);
}